
.home_about{
  height: 70vh;
  height: 70dvh;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
  background: linear-gradient(#0D1116, #1B1A22);
}

.about_text{
  width: 60%;
  margin-left: 3vh;
  margin-right: 3vh;
  z-index: 2;
  p {
      font-family: 'Montserrat', sans-serif;
      position: relative;
      margin: 1.5rem 0;
      font-size: 1.4rem;
      line-height: 2.8vh;
  }
  h2 {
      line-height: 9vh;
      font-family: 'Lobster', cursive;
      color: #08fdd8;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: -10px;
      font-size: 5rem;
  }
}


.about_text p:first-of-type:before {
  content: '<p>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -1.5rem;
  left: -2rem;
  }

.about_text p:last-of-type:after {
  content: '<p/>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -2rem;
  bottom: -2rem;
}

/* Phone settings */

@media (max-width: 768px) {
  .home_about {
    height: auto;
    margin-left: 0px;
    flex-direction: column;
    overflow-y: hidden;
  }
  .about_text {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .about_lottie {
    height: stretch;
    margin-bottom: 20px;
  }
}