/* General body and style */
@import "../abstracts/variables";

@font-face {
  font-family: 'Wotfard';
  src: url('../fonts/wotfard-regular/Wotfard_Regular/Wotfard_Regular_Webfont/Wotfard-Regular-webfont/wotfard-regular-webfont.ttf')
  format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $background;
  color: $white;
  font-size: x-large;
  margin: 0;
  font-family: 'Wotfard';
  overflow-x: hidden;
}

.content {
  width: 100%;
  overflow: hidden;

}

.row {
  display: flex;
  flex-direction: row;
}

.menu-photo {
  width: 100%;
  background:#181818;
  align-items: center;
  margin: 0px 15.5px;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  .p2 {
    font-size: 15px;
    color: #b1b1b1;
  }
  img {
    width: 125px;
    height: 120px;
    object-fit: contain;
  }
}

/* Selectie */

::selection{
  background-color: white;
  color:#1d1d1d;
  text-shadow: none;
}

/* PDF settings */

.PDF {
  font-family: 'Roboto';
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 100px;
  width: 150px;
  background-color: #000000;
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 3px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 10%), 0 5px 5px 0 rgb(0 0 0 / 10%) !important;
  z-index: 2;
  line-height: 0px;
}

.PDF:hover {
  color: #08fdd8;
  opacity: 1;
  cursor: pointer;
}

/* Orbs */
.red_orb {
  width: min(500px, 100%);
  position: absolute;
  aspect-ratio: 1 / 1;
  z-index: 1;
  top: max(880px, -50vw);
  right: max(-220px, -50vw);
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  filter: blur(4px);
  box-shadow: rgb(250 250 250) 0px 0px 100px -30px inset, rgb(255 109 109) 0px 0px 30vw 30vw inset, rgb(255 109 109) 0px 0px 120px 80px;
}

.yellow_orb {
  width: max(240px, 20vw);
  position: absolute;
  aspect-ratio: 1 / 1;
  z-index: 1;
  top: max(1500px, -50vw);
  left: max(-50px, -50vw);
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  filter: blur(4px);
  box-shadow: rgb(250, 250, 250) 0px 0px 100px -40px inset, rgb(255, 183, 75) 0px 0px max(60px, 6vw) max(60px, 6vw) inset, rgb(255, 183, 75) 0px 0px 70px 40px;
}

.green_orb {
  width: min(576px, 40vw);
  position: absolute;
  aspect-ratio: 1 / 1;
  z-index: 1;
  top: max(1800px, -50vw);
  right: -20vw;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  filter: blur(4px);
  box-shadow: rgb(250, 250, 250) 0px 0px 100px -40px inset, rgb(136, 223, 171) 0px 0px max(70px, 12vw) max(70px, 12vw) inset, rgb(136, 223, 171) 0px 0px 70px 40px;
  opacity: 0.8;
}

/* Tags */

.tags {
  margin-left: 150px;
  color: #515152;
  position: absolute;
  bottom: 0;
  left: 4rem;
  font-style: italic;
  font-size: 1.5rem;
  font-family: 'La Belle Aurore',cursive;
}

.top-tags {
  bottom: auto;
  top: 2rem;
}

.top-tags:after {
  content: '<body>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.5rem;
  position: absolute;
  margin-top: 2rem;
  margin-left: -2rem;
}

.bottom-tags {
  bottom: 2rem;
  top: auto;
}

.bottom-tags:before {
  content: '</body>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.5rem;
  position: absolute;
  margin-left: 2.9rem;
  margin-top: -2rem;
}

/* Phone settings */

@media (max-width: 1024px) {
  body{
    width: 100% !important;
  }
  .content{
    overflow-x: hidden;
  }
  .row {
    flex-direction: column;
  }
  .home {
    flex-direction: column !important; 
  }
  .tags {
    display: none;
  }
  .menu-photo{
    display: none;
  }
  .menu-icons {
    display: none;
  }
  .PDF {
    height: 60px;
    width: 100px;
    font-size: 0.8rem;
}
  a {
    margin-top: 0px;
    margin-bottom: 0px;
  }

}