.modal {
    position: fixed;
    z-index: 2;
    left: 155px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .modal.enter-done {
    opacity: 1;
    pointer-events: visible;
  }
  
  .modal.exit {
    opacity: 0;
  }
  
  .modal-content {
    width: 70%;
    height: 80%;
    background-color: #2a2a2a;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
    color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .modal.enter-done .modal-content {
    transform: translateY(0);
  }
  
  .modal.exit .modal-content {
    transform: translateY(-200px);
  }
  
  .modal-header {
    padding: 10px;
    padding-left: 50px;
    border-bottom: 1px solid #eee;
    
  }
  
  .modal-footer {
    padding: 10px;
    padding-left: 50px;
    border-top: 1px solid #eee;
    button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      font-family: "Montserrat", sans-serif;
      font-size: 2vh;
      margin: 10px 0px 20px 0px;
    }
    .button:hover {background-color: #3e8e41}

    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

  }

  .modal-title {
    display:flex;
    margin: 10px 0px;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    justify-content: center;
  }
  
  .modal-body {
    padding: 10px;
    padding-left: 50px;
    p {
      font-family: "Montserrat", sans-serif;
      position: relative;
      margin: 1rem 0;
      font-size: 1.2rem;
      line-height: 1.7rem;
      font-weight: 300;
      width: fit-content;
    }

  }

  /* Phone settings */

@media (max-width: 1024px) {
    .modal {
        left: 0px;
        top: 80px;
    }

    .modal-content {
      width: 90%;
      height: 90%;
      p {
        font-size: 1rem;
      }
      .modal-header,
      .modal-footer,
      .modal-body {
        padding: 10px;
      }
    }
    

}